{% if true %}
    <li class="layui-nav-item">
        <a href="javascript:;">
            <cite></cite>
        </a>
        <dl class="layui-nav-child">
            <dd>
                <a href="javascript:">
                   <cite>用户中心</cite>
                </a>
            </dd>
            <dd>
                <a href="javascript:;">
                    <i class="badge bg-danger pull-right">40%</i>
                    <span>设置</span>
                </a>
            </dd>
            <dd>
                <a href="javascript:;">
                    <i class="label bg-info pull-right">new</i>帮助
                </a>
            </dd>
        </dl>
    </li>
    
    <li class="layui-nav-item">
        <a href=""><i class="fa fa-sign-out"></i>登出</a>
    </li>
{% else %}

 <li class="layui-nav-item">
        <a href=""><i class="fa fa-sign-in"></i>登录</a>
    </li>

{% endif %}
